body,
ul {
  padding: 0;
  margin: 0;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1024px;
  padding: 40px 24px;
}
.container header .title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
header {
  position: sticky;
  top: -px;
  z-index: 99;
}
.header-wrap {
  position: relative;
}
.header-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.menus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}
.menus button {
  margin-bottom: 5px;
  margin-right: 12px;
  border: none;
  border-bottom: solid 1px transparent;
  border-top: solid 2px #8f1111;
  border-bottom: solid 2px #8f1111;
  background: none;
  font-size: 14px;
  border-radius: 5px;
}
.menus button:hover,
.menus button.active {
  background: #8f1111;
  color: #fff;
}
.articles-wrap {
  padding-top: 24px;
  padding-bottom: 24px;
}
.list-articles {
  container-type: inline-size;
  container-name: articlesList;
}
.list-articles .news-img {
  height: 250px;
  overflow: hidden;
}
.list-articles .news-img img {
  object-fit: cover;
}
.list-articles .articles-item {
  display: grid;
  grid-template-columns: 35% 1fr;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px gray;
}
@container articlesList (max-width: 720px) {
  .list-articles .articles-item {
    grid-template-columns: 1fr;
  }
}
.articles-box {
  padding: 10px 24px 24px;
  text-align: left;
}
.articles-box div {
  text-align: right;
}
.articles-box .title {
  font-size: 24px;
  font-weight: bold;
}
.articles-box .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.5;
}
.articles-box .date {
  font-size: 13px;
}
footer {
  text-align: center;
}
.srch-wrap {
  padding-top: 50px;
}
.srch-box {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}
.srch-box input {
  width: 100%;
  min-width: 280px;
  border: none;
  border-bottom: solid 2px #8f1111;
  /* background: #8f1111; */
  padding-right: 45px;
  outline: none;
}
.srch-box button {
  position: absolute;
  right: 0;
  border: none;
  background: transparent;
  font-size: 13px;
  font-weight: bold;
  border-left: solid 1px #ccc;
}
